<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:p="http://primefaces.org/ui"
				template="/WEB-INF/templates/general.xhtml">

	<ui:define name="title"><h:outputText value="Account" /></ui:define>
	<ui:define name="header"><h:outputText value="Account" /></ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:event type="postAddToView" listener="#{uiUtils.greetOnViewLoad}"
					 update=":form:messages" />
			<f:attribute name="firstName" value="#{user.firstName}" />
			<f:attribute name="lastName" value="#{user.lastName}" />
		</f:metadata>
		<h:form enctype="multipart/form-data" id="form">

			<p:growl id="messages" showDetail="true" life="5000"/>

			<h3>Images</h3>

			<p:galleria id="galleria" value="#{imagesView.images}" var="image"
						panelWidth="640" panelHeight="480" autoPlayappuser_images="false">
				<p:graphicImage value="#{image.link}" title="#{image.title}"/>
			</p:galleria>

			<h:panelGroup id="alvs">
				<ui:repeat var="delImg" value="#{imagesView.images}">
					<p:commandButton value="Delete #{delImg.title}" actionListener="#{imagesView.remove(delImg)}" update=":form:messages, :form:galleria, :form:alvs"/>
				</ui:repeat>
			</h:panelGroup>

			<p:fileUpload id="fileupload"
						  fileUploadListener="#{imagesView.upload}"
						  mode="advanced"
						  update="messages, galleria, alvs"
						  label="Choose a file or drag and drop it here"
						  sizeLimit="10485760"
						  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
						  invalidSizeMessage="The maximum file size allowed is 10 Megabytes !"
						  invalidFileMessage="You are allowed to upload only images !" />

		</h:form>
	</ui:define>
</ui:composition>