<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
<f:view contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><ui:insert name="title" /></title>
		<link rel="stylesheet" type="text/css" href="${request.contextPath}/resources/css/style.css" />
		<link rel="shortcut icon" href="${request.contextPath}/resources/css/images/favicon.ico" />
	</h:head>
	
	<h:body>
		<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();" />
		<p:dialog modal="true" widgetVar="statusDialog" header="Processing..." draggable="true" closable="false">
			<p:graphicImage value="/css/images/ajaxloadingbar.gif" />
		</p:dialog>
		<p:growl id="growlMessages" showDetail="false" sticky="false" life="13000" />
	
		<div id="container">
			<div id="greeting">
				<c:if test="${not empty currentUser.name}">
					<b>Welcome,</b> ${user.firstName} ${user.lastName} | <a href="${request.contextPath}/app/logout"><span style="color: red;font-style: italic">Logout</span></a>
				</c:if>
			</div>
			<div id="header">
				<h1><ui:insert name="header" /></h1>
			</div>
			<div id="line" />
			<div id="content">
				<ui:insert name="content" />
			</div>
			<div id="footer">
				<ui:insert name="footer" />
			</div>
		</div>
	</h:body>

</f:view>
</html>