#container {
	width: 91%;
	margin: 40px auto;
	box-shadow: 2px 2px 10px #888;
	background: url(images/noise3.png);
	padding-bottom: 70px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	font-style : normal;
	border-radius: 7px 7px 7px 7px;
}
.ui-galleria {
	margin: 0 auto;
}

.ui-galleria-panel img {
	position:inherit;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-height: 540px;
	max-weight: 640px;
}

#header {
	height: 60px;
	text-align: center;
	background: #112727;
	background-size: 58px;
	color: white;
	padding: 5px;
	font-smooth: always;
	text-shadow: 0px 0px 2px white;
	border-radius: 10px 10px 0 0;
}

#line {
	width: 100%;
	height: 10px;
	background: #ea5e0d;
}

.fieldset {
	margin: 0 auto;
	width: 50%;
	margin-top: 110px;
	margin-bottom: 60px;
	color: #5D5D5D;
	background: url(images/gray_texture1.jpg);
	border: 1px solid #A8A8A8;
	box-shadow: 2px 2px 10px #888;
	text-align: center;
}

.fieldset legend {
	border: 1px solid #e0e0e0 !important;
	background: #ea5e0d !important;
	margin-top: -25px;
	margin-bottom: -21px;
	color: white !important;
	box-shadow: 1px 1px 2px #000000;
	text-shadow: 1px 1px 1px #333333 !important;
	font-weight: normal !important;
	font-style : normal !important;
}

.tooltip {
	font-size: 11px;
	font-weight: normal;
	font-style : normal;
	color: white;
	background:	-moz-linear-gradient(top , rgba(0, 0, 0, 0.25), transparent) repeat scroll 0% 0% rgb(170, 170, 170);
	background: -webkit-linear-gradient(top , rgba(0, 0, 0, 0.25), transparent) repeat scroll 0% 0% rgb(170, 170, 170);
	border: 1px solid gray;
	padding: 6px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px #333333;
}

.ui-dialog-titlebar {
	background-color: #ea5e0d !important;
	color: white !important;
	font-size: 12px !important;
	text-shadow:1px 1px 1px #333333 !important;
}

.ui-widget-overlay {
	background: none !important;
}

.ui-password-panel {
	font-size: 11px;
}

.ui-message-error, .ui-message-info {
	position: absolute !important;
	margin-top: -10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

#greeting {
	font-family: Verdana;
	font-size: 12px;
	color: #272727;
	float: right;
	height: 25px;
	margin: 0 auto;
	margin-top: -33px;
}

#greeting a img {
	border: none;
	width: 20px;
	margin-bottom: -7px;
}

.ui-growl-item {
	font-family: Arial,sans-serif;
	font-size: 12px;
}

.ui-growl {
	top: 90px;
	right: 40px;
}









